<div class="footer my-nav-dark mt-4">
    <div class="row align-items-center justify-content-center">
        <div class="social-media d-flex align-items-center justify-content-center col-md-8">
            <i class="fab fa-facebook-square fa-3x green-color"></i>
            <i class="fab fa-youtube-square fa-3x green-color"></i>
            <i class="fab fa-twitter-square fa-3x green-color"></i>
            <i class="fab fa-instagram-square fa-3x green-color"></i>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <div class="footer_menu col-8">
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="green-color" href="#">Términos y Condiciones</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="green-color" href="#">Política de Privacidad</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="green-color" href="#">Política de Cookies</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center mt-2">
        <div class="copyright col-8">
            <div class="row">
                <div class="col-4 offset-4 text-center">
                    <p class="green-color mb-0">Gikahub © {% now "Y" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>