<div class="footer my-nav-dark">
    <div class="row">
        <div class="footer_menu col-md-6 offset-md-3">
            <ul class="footer_menu_items">
                <li class="footer-item">
                    <a class="nav-link" href="#">Términos y Condiciones</a>
                </li>
                <li class="footer-item">
                    <a class="nav-link" href="#">Política de Privacidad</a>
                </li>
                <li class="footer-item">
                    <a class="nav-link" href="#">Política de Cookies</a>
                </li>
            </ul>
        </div>
        <div class="social-media col-md-3">
            <i class="fab fa-facebook-square fa-3x"></i>
            <i class="fab fa-youtube-square fa-3x"></i>
            <i class="fab fa-twitter-square fa-3x"></i>
            <i class="fab fa-instagram-square fa-3x"></i>
        </div>
    </div>
    <div class="row">
        <div class="copyright col-12">
            <p>Gikahub © {% now "Y" %}</p>
        </div>
    </div>
</div>