{% extends "blog/base.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid main-posts mt-2">
        <div class="row d-none d-md-flex d-lg-flex">
            <div class="d-lg-block d-xl-block col-lg-6 col-xl-4 order-0 order-lg-1">
                <div class="image-background center" style='background-image: url("{{ main_post.post_main_image }}")'>
                    <div class="overlay-image"></div>
                    <h3 class="w-100 text-center">{{ main_post.post_title }}</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 col-xl-3 offset-xl-1 d-flex flex-lg-column justify-content-between order-1 order-lg-0">
                {% for post in secondary_posts %}
                <div class="image-background w-100 mr-md-2 mr-lg-0" style='background-image: url("{{ post.post_main_image }}")'>
                    <div class="overlay-image"></div>
                    <h3 class="w-100 text-center">{{ post.post_title }}</h3>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-3 col-xl-3 d-flex flex-lg-column justify-content-between order-1">
                {% for post in third_posts %}
                <div class="image-background w-100 mr-md-2 mr-lg-0" style='background-image: url("{{ post.post_main_image }}")'>
                    <div class="overlay-image"></div>
                    <h3 class="w-100 text-center">{{ post.post_title }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="row d-xs-block d-sm-block d-md-none">
            <div class="col-md-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                  {% for post in main_posts %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <img class="d-block w-100" src="{{ post.post_main_image }}" alt="First slide">
                    </div>
                  {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
    {% for category,posts in categories.items %}

        <div class="container-fluid main-news mt-4">
            <div class="row">
                <div class="col-lg-12 col-xl-10 offset-xl-1">
                    <h1 class="news-title">{{ category.name }}</h1>
                </div>
            </div>
            <div class="row py-2 news-article">
                <div class="col-lg-12 col-xl-10 offset-xl-1">
                   {% for post in posts|slice:"0:2" %}
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center justify-content-center my-2">
                                <img class="img-fluid" src="{{ post.post_main_image }}" />
                            </div>
                            <div class="col-md-9 d-flex flex-column justify-content-between my-2">
                                <h3 class="text-center text-md-left">{{ post.post_title }}</h3>
                                <p class="text-center text-md-left">{{ post.post_abstract }}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="profile_pic rounded-circle" src="{{ post.author.userprofile.profile_pic }}" />
                                        <p class="mb-0 date">{{ post.author }} - {{ post.published_date }}</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 tags">{{ post.post_tags.all|join:" | " }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <div class="col-md-12">
                                    <div class="separator"></div>
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-center mt-4">
                        <a href="{% url "blog:category_list" category.id %}"><button type="button" class="btn btn-success button-green-color">Ver más</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
