{% extends "blog/base.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid post-title">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-4">
                <h1>Fall Guys segunda temporada</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-2">
                <h2>El juego sensación del verano tendrá cosas nuevas.</h2>
            </div>
            <div class="offset-md-1 offset-lg-0 col-12 col-lg-2">
                <div class="row">
                    <div class="text-lg-right col-6 col-md-5 col-lg-12">
                        <p class="mb-0">Por: Nahim</p>
                    </div>
                    <div class="text-right col-6 col-md-5 col-lg-12">
                        <p class="">Publicado: 28 AGO 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <div class="post-divider"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <p>Hoy pudimos tener un pequeño vistazo de lo que ofrecerá Fall Guys segunda temporada en el Gamescom 2020. Este juego se ha convertido en un éxito en PC y PS4, estando de regalo para los miembros de PS Plus en el mes de agosto. Millones de usuarios se han unido ha este divertido juego que es bastante fácil de jugar, pero puede ser muy complicado conseguir una victoria. Si bien acaba de salir el juego, yo creo que muchas personas pensamos que le hacen falta más mini juegos. Esta segunda temporada tendrá una temática medieval, la cual se ve reflejada en los escenarios y trajes nuevos.</p>
                <h3>Nuevos escenarios</h3>
                <p>En este pequeño vistazo que dieron mostraron cinco nuevos escenarios. Esto es algo que necesitará el juego para mantenerse relevante entre los que lo juegan, ya que puede llegar a ser muy repetitivo. A continuación les dejo los diseños que mostraron:</p>
                <div class="row container-fluid">
                    <div class="col-md-6 ml-0 pl-0">
                        <p>Hoy pudimos tener un pequeño vistazo de lo que ofrecerá Fall Guys segunda temporada en el Gamescom 2020. Este juego se ha convertido en un éxito en PC y PS4, estando de regalo para los miembros de PS Plus en el mes de agosto. Millones de usuarios se han unido ha este divertido juego que es bastante fácil de jugar, pero puede ser muy complicado conseguir una victoria. Si bien acaba de salir el juego, yo creo que muchas personas pensamos que le hacen falta más mini juegos. Esta segunda temporada tendrá una temática medieval, la cual se ve reflejada en los escenarios y trajes nuevos.</p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <iframe src="https://www.youtube.com/embed/Wj3dUvGLjNQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="row container-fluid mx-0">
                    <div class="col-md-6 ml-0 pl-0">
                        <p>Hoy pudimos tener un pequeño vistazo de lo que ofrecerá Fall Guys segunda temporada en el Gamescom 2020. Este juego se ha convertido en un éxito en PC y PS4, estando de regalo para los miembros de PS Plus en el mes de agosto. Millones de usuarios se han unido ha este divertido juego que es bastante fácil de jugar, pero puede ser muy complicado conseguir una victoria. Si bien acaba de salir el juego, yo creo que muchas personas pensamos que le hacen falta más mini juegos. Esta segunda temporada tendrá una temática medieval, la cual se ve reflejada en los escenarios y trajes nuevos.</p>
                    </div>
                    <div class="d-flex align-items-center col-md-6">
                        <img class="img-fluid" src="https://gikahub.com/wp-content/uploads/2020/08/LVL1.jpg">
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <iframe class="" width="560" height="315" src="https://www.youtube.com/embed/Wj3dUvGLjNQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-4">
                <div class="post-divider"></div>
        </div>
        <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-4">
            <h1>Recientes</h1>
        </div>
        <div class="row justify-content-between col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-2">
            <div class="col-12 col-sm-6 col-lg-3 mt-4">
                <div class="card">
                    <img class="img-fluid" src="https://gikahub.com/wp-content/uploads/2020/08/LVL1.jpg">
                    <div class="card-container">
                        <h4><b>Título de otro artículo 2</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mt-4">
                <div class="card">
                    <img class="img-fluid" src="https://gikahub.com/wp-content/uploads/2020/08/LVL1.jpg">
                    <div class="card-container">
                        <h4><b>Título de otro artículo 2</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mt-4">
                <div class="card">
                    <img class="img-fluid" src="https://gikahub.com/wp-content/uploads/2020/08/LVL1.jpg">
                    <div class="card-container">
                        <h4><b>Título de otro artículo 2</b></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mt-4">
                <div class="card">
                    <img class="img-fluid" src="https://gikahub.com/wp-content/uploads/2020/08/LVL1.jpg">
                    <div class="card-container">
                        <h4><b>Título de otro artículo 2</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
