{% extends "blog/base.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid post-title">
        <div class="row">
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-4">
                <h1>Fall Guys segunda temporada</h1>
            </div>
            <div class="d-flex justify-content-between col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <div>
                    <h2>El juego sensación del verano tendrá cosas nuevas.</h2>
                </div>
                <div>
                    <div>
                       <p class="mb-0 text-right">Por: Nahim</p>
                    </div>
                    <div>
                        <p class="text-right">Publicado: 28 AGO 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <div class="post-divider"></div>
            </div>
            <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <p>Hoy pudimos tener un pequeño vistazo de lo que ofrecerá Fall Guys segunda temporada en el Gamescom 2020. Este juego se ha convertido en un éxito en PC y PS4, estando de regalo para los miembros de PS Plus en el mes de agosto. Millones de usuarios se han unido ha este divertido juego que es bastante fácil de jugar, pero puede ser muy complicado conseguir una victoria. Si bien acaba de salir el juego, yo creo que muchas personas pensamos que le hacen falta más mini juegos. Esta segunda temporada tendrá una temática medieval, la cual se ve reflejada en los escenarios y trajes nuevos.</p>
                <h3>Nuevos escenarios</h3>
                <p>En este pequeño vistazo que dieron mostraron cinco nuevos escenarios. Esto es algo que necesitará el juego para mantenerse relevante entre los que lo juegan, ya que puede llegar a ser muy repetitivo. A continuación les dejo los diseños que mostraron:</p>
            </div>
        </div>
    </div>

{% endblock %}
